@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes wave {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.wave-element {
  animation: wave 1.5s infinite;
  transform-origin: bottom center;
}